@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFF5E1;
}

span{
    color: #8B4513;
}

p, li{
    color:  #333333;
}

button{
    background-color: #556B2F;
}